DOMAIN_NAME=chnaranj.42.fr

# MariaDB
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

# WordPress
WP_TITLE=Inception
WP_ADMIN_USER=ceo
WP_ADMIN_PASSWORD=change_me
WP_ADMIN_EMAIL=ceo@student.42.fr
WP_USER=author
WP_PASSWORD=change_me
WP_EMAIL=author@student.42.fr

